<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="host" value="https://www.enlabel.com" />
    <add key="browser" value="chrome" />
    <add key="report_folder" value="C:\ReportResults\" />
    <add key="web_driver_type" value="local" />
  </appSettings>
  
</configuration>